/*non-bootstrap specific styling*/

body {
	background-color: #CCC;
}
.container{
	background-color: white;
	padding: 10px;
	/*border-radius: 10px;*/
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
div.tab_contents {
	display: none;
}
div.tab_contents_active {
	display: block;
}
div.clear {
	clear: both;
}
.edit, .editDD, .editQuiz{
	font-weight:bold;
	cursor:pointer;
}
.edit:hover{
	text-decoration:underline;
}
table { table-layout: fixed; }
thead{
	background-color: black;
	color:white;
	cursor: pointer;
}
th{
	border-right:1px solid white;
}
.error{
	background-color: red !important;
}
.editDD select{
   background: black;
   width: 75px;
   margin-right: 25px;
   color:white;
}
.editDD button{
	height:25px;
	margin-bottom: 10px;
}

#lnk_dashboard{
	float:right;
}